/* (1366x768) WXGA Display */
@media screen and (max-width: 768px) {

    .banner-content {
        display: flex;
        justify-content: center;
        flex-flow: column;
        align-items: flex-end;
        align-items: center;
        padding: 40px 0 60px;
    }

    .banner-content h2 {
        text-align: center;
        padding-bottom: 15px;
    }

    .banner-section {
        background: url(../images/mobilebg.png) no-repeat center top;
        background-size: cover;
        width: 100%;
        padding: 90px 0 0;
    }

    .banner-mobile-img {
        width: 330px;
        margin-bottom: 0;
        float: right;
    }

    .desktop-img{
        display: none;
      }
      
      .mobile-img{
        display: block;
      }

.img1 {
    position: relative;
    width: 300px;
    bottom: 0;
    left: 0;
}
.img2{
    position: absolute;
    top: 81px;
    left: 78px;
    width: 288px;
    height: 285px;
}

.banner3{
    background: #00C164;
    width: 100%;
   
  }

.craft-img{
    display: none;

}
.bannerimg2{
    position: absolute;
    position: relative;
    bottom: 113px;
    
}
.respo-img{
    display:grid;
  }
  
.banner-mobile-img {
    /* width: 330px; */
    margin-bottom: 0;
    float: right;
}
.imgf{
    display: none;
    
    
}
.imgff{
    display:block;
    margin-bottom: 95px;
   
  }

  .gameimg{
    display: none;
}

.gameimgmob{
    display: block;
}

input{
    width: 300px;
    height: 50px;
    border-radius: 100px;
   }
  
   button{
    border-radius: 87.038px;
    background: var(--Blue-1, #2F80ED);
    color: black;
    
   }
   .button-regular {
    position: absolute;
    top: 3px;
    right: 27px;
  }

 

 

  .img-fluid1{
    width: 75px;
  }
  
    
  


 
  
  .label .the-leading-NFT {
   
    width: 419px;
    height: 105px;
    top: 0;
    left: 0;
    font-family: "Poppins-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 8px;
    letter-spacing: 0;
    line-height: 35.3px;
   }
   p {
    color: rgb(53, 53, 53);
    font-family: 'Poppins';
    font-size: 8px;
    font-style: normal;
    font-weight: 600;
    line-height: 28.9px;
}
   

   
    .box {
        width: 345px;
        height: 61px;
        margin-bottom: 0px;
    }
   

       .carosal{
        display:none;
       }
    .mobimgg{
        display: block;
    }
    .wordbanner2{
        color: #838383;
        font-family: Poppins;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: 136.5%;
        letter-spacing: 0.8px;
        text-transform: lowercase;
          }
    .headfoot{
        text-decoration: underline;
    }


   /*doc.html*/
    .banner-co1{
        background-image: url(../images/docsback.png);
        width: 100%;
        height:auto;
        
        
      }

  .para{
        font-family: 'Poppins';
        font-size: 20px;
        font-weight: 500;
        line-height: 40px;
        letter-spacing: 0em;
        margin-right: 30px;
         padding-bottom: 50px;
    }

 .log {
      padding-left: 64px;
      margin: 0px;
      margin-top: -55px;
  }

  .para{
    font-family: 'Poppins';
    font-size: 20px;
    font-weight: 500;
    line-height: 40px;
    letter-spacing: 0em;
    padding-bottom: 66px;
    margin: 55px;
    padding-left: 0px;
    margin-right: 50px;

}

.paradoc{

  color: #000;
  font-family: 'Poppins';
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 30px; /* 166.667% */
  text-align: left;
  padding-left: 110px;
  padding-top: 40px;
  margin: 50px;
  padding-left: 0px;


}
.appfeature {
  font-family: "Racing Sans One";
  font-size: 27px;
  font-weight: 400;
  line-height: 39px;
  letter-spacing: 0.04em;
  text-align: left;
  padding-left: 60px;
  padding-top: 0px;
  /* height: 39px; */
  text-transform: uppercase;
  text-decoration: underline;
  margin: 0px;
}
.headingdoc{
  color: #000;
  font-family: 'Poppins';
  font-size: 28px;
  font-style: normal;
  font-weight: 600;
  line-height: 109.5%; /* 30.66px */
  letter-spacing: 1.12px;
  text-transform: uppercase;
  text-align:left;
  padding-left: 0px;
 margin-left: 50px;
 padding-top: 2px;
 margin-right: 50px;
  


}
.featurecontent {
  padding: 0px;
  margin: 50px;
}
.li1 {
  list-style: disc;
  font-family: "Poppins";
  font-size: 18px;
  font-weight: 500;
  line-height: 34px;
  letter-spacing: 0em;
  text-align: left;
  /* padding-left: 40px; */
  padding-top: 30px;
}







/*nav*/

.nav-desk{
    display: none;
}


.menu-section.on {
    z-index: 10;
    width: 100%;
    height: 110%;
    display: block;
   background-color: black;
   
    
  }
  .menu-item{
    display: block;
  }
  
  .menu-toggle {
    width: 50px;
    height: 40px;
    position: absolute;
    top: 40px;
    right: 20px;
    cursor: pointer;
    display: block;
  }
  .menu-toggle.on .one {
    -moz-transform: rotate(45deg) translate(7px, 7px);
    -ms-transform: rotate(45deg) translate(7px, 7px);
    -webkit-transform: rotate(45deg) translate(7px, 7px);
    transform: rotate(45deg) translate(7px, 7px);
  }
  .menu-toggle.on .two {
    opacity: 0;
  }
  .menu-toggle.on .three {
    -moz-transform: rotate(-45deg) translate(8px, -10px);
    -ms-transform: rotate(-45deg) translate(8px, -10px);
    -webkit-transform: rotate(-45deg) translate(8px, -10px);
    transform: rotate(-45deg) translate(8px, -10px);
  }
  
  .one,
  .two,
  .three {
    width: 100%;
    height: 5px;
    background: white;
    margin: 6px auto;
    backface-visibility: hidden;
    -moz-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
  }
  
  nav ul {
    margin: 0;
    padding: 0;
    font-family: Open "Sans";
    list-style: none;
    margin: 0em auto;
    text-align: center;
    width: 100%;
  }
  nav ul.hidden {
    display: none;
  }
  nav ul a {
    -moz-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    text-decoration: none;
    color: white;
    font-size: 3em;
    line-height: 1.9;
    width: 100%;
    display: block;
  }
  nav ul a:hover {
    background-color: rgba(0, 0, 0, 0.5);
  }
  /*nav*/
.menu-section.on {
    z-index: 10;
    width: 100%;
    height: 110%;
    display: block;
   background-color: black;
    
  }
  
  
  .menu-toggle.on .one {
    -moz-transform: rotate(45deg) translate(7px, 7px);
    -ms-transform: rotate(45deg) translate(7px, 7px);
    -webkit-transform: rotate(45deg) translate(7px, 7px);
    transform: rotate(45deg) translate(7px, 7px);
  }
  .menu-toggle.on .two {
    opacity: 0;
  }
  .menu-toggle.on .three {
    -moz-transform: rotate(-45deg) translate(8px, -10px);
    -ms-transform: rotate(-45deg) translate(8px, -10px);
    -webkit-transform: rotate(-45deg) translate(8px, -10px);
    transform: rotate(-45deg) translate(8px, -10px);
  }
  
  .one,
  .two,
  .three {
    width: 100%;
    height: 5px;
    background: white;
    margin: 6px auto;
    backface-visibility: hidden;
    -moz-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
  }
  
  nav ul {
    margin: 0;
    padding: 0;
    font-family: Open "Sans";
    list-style: none;
    margin: 0em auto;
    text-align: center;
    width: 100%;
  }
  nav ul.hidden {
    display: none;
  }
  nav ul a {
    -moz-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    text-decoration: none;
    color: white;
    font-size: 3em;
    line-height: 1.9;
    width: 100%;
    display: block;
  }
  nav ul a:hover {
    background-color: rgba(0, 0, 0, 0.5);
  }

  a {
    cursor: pointer;
    outline: none;
    color: #000000;
    text-decoration: none !important;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
  }
  
  a:hover,
  a:active,
  a:focus {
    color: #ff2c55;
    text-decoration: none;
    outline: none;
  }

   .menu-link:hover {
    color: #eaeaea;
  }
  
  a.menu-link:before {
    content: '';
    position: absolute;
    bottom: -10px;
    left: 0;
    width: 100%;
    height: 12px;
    background: red;
    -webkit-transform: scale3d(0, 5, 1);
    transform: scale3d(0, 5, 1);
    -webkit-transform-origin: 0% 50%;
    transform-origin: 0% 50%;
    -webkit-transition: -webkit-transform 0.3s;
    transition: transform 0.3s;
    -webkit-transition-timing-function: cubic-bezier(1, 0.68, 0.16, 0.9);
    transition-timing-function: cubic-bezier(1, 0.68, 0.16, 0.9);
  }
  
  .header-style-1 a.menu-link.active:before {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
    
  
  }
  a.active{
    background-color: red;
  }
  
   .menu-item:hover .menu-link:before {
    background-color: #ff2c55;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
    
  }
  
  a.menu-link {
    font-family: 'Montserrat';
    text-align: inherit;
    word-spacing: 1px;
    font-size: 16px;
    letter-spacing: 0px;
    position: relative;
    font-weight: 600;
    font-style: normal;
    color: #ffffff;
    line-height: 110px;
    border: 1px solid green;
    
    
    
  }
  .menu-link:hover{
    color: blue;
  }
   .menu-item:hover .menu-link:before {
    background-color: #ff2c55;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
    
  }
  
   a.menu-link:before {
    content: '';
    position: absolute;
    bottom: -10px;
    left: 0;
    width: 100%;
    height: 2px;
    background: #ff2c55;
    -webkit-transform: scale3d(0, 5, 1);
    transform: scale3d(0, 5, 1);
    -webkit-transform-origin: 0% 50%;
    transform-origin: 0% 50%;
    -webkit-transition: -webkit-transform 0.3s;
    transition: transform 0.3s;
    -webkit-transition-timing-function: cubic-bezier(1, 0.68, 0.16, 0.9);
    transition-timing-function: cubic-bezier(1, 0.68, 0.16, 0.9);
    
  }
  
   a.menu-link {
    color: #ffffff;
    
  }
  
  .header-expanded a.menu-link {
    color: #fff;
  }


































   


        
  
    



}





/* (320x480) iPhone (Original, 3G, 3GS) */
@media only screen and (min-device-width: 390px) and (max-device-width: 390px) {


}


/* (320x480) Smartphone, Portrait */
@media only screen and (device-width: 320px) and (orientation: portrait) {
  
}

/* (320x480) Smartphone, Landscape */
@media only screen and (device-width: 480px) and (orientation: landscape) {
 
}

/* (480x800) Android */
@media only screen and (min-device-width: 480px) and (max-device-width: 800px) {
    /* insert styles here */
}

/* (640x960) iPhone 4 & 4S */
@media only screen and (min-device-width: 640px) and (max-device-width: 960px) {
    /* insert styles here */

}

/* (720x1280) Galaxy Nexus, WXGA */
@media only screen and (min-device-width: 720px) and (max-device-width: 1280px) {




}

/* (720x1280) Galaxy Nexus, Landscape */
@media only screen and (min-device-width: 720px) and (max-device-width: 1280px) and (orientation: landscape) {
   
}

/* (1024x768) iPad 1 & 2, XGA */
@media only screen and (min-device-width: 820px) and (max-device-width: 1180px)  {




}

@media only screen and (min-device-width: 820px) and (max-device-width: 1180px) and (orientation: landscape)  {

}

/* (1024x768) iPad 1 & 2, XGA */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {

    /* insert styles here */




}

/* (768x1024) iPad 1 & 2, Portrait */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
    /* insert styles here */


}

/* (1024x768) iPad 1 & 2, Landscape */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
    /* insert styles here */
   
}

/* (2048x1536) iPad 3 */
@media only screen and (min-device-width: 1536px) and (max-device-width: 2048px) {
    /* insert styles here */

    .nav-desk {
      margin-left: 623px;
      margin-top: -100px;
      width: Hug (431px);
      height: Hug (15px);
      top: 37px;
      left: 541px;
      gap: 49px;
  }

  
}

/* (1280x720) Galaxy Note 2, WXGA */
@media only screen and (min-device-width: 720px) and (max-device-width: 1280px) {
    /* insert styles here */
}

/* (1366x768) WXGA Display */
@media screen and (max-width: 1366px) {
    /* insert styles here */
}

/* (1280x1024) SXGA Display */
@media screen and (max-width: 1280px) {
    /* insert styles here */
}

/* (1440x900) WXGA+ Display */
@media screen and (max-width: 1440px) {
    /* insert styles here */
}

/* (1680x1050) WSXGA+ Display */
@media screen and (max-width: 1680px) {

    /* insert styles here */
    .carousel-caption {
        left: 12% !important;
    }
}

/* (1920x1080) Full HD Display */
@media screen and (max-width: 1920px) {
    /* insert styles here */
}

/* (1600x900) HD+ Display */
@media screen and (max-width: 1600px) {
    /* insert styles here */
}
