@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Lobster&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200&family=Quicksand:wght@400;500;600&family=Rajdhani:wght@400;500;600;700&family=Roboto:wght@300;500;700&display=swap");

* {
  margin: 0px auto;
}


body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: black;
  overflow-x: hidden;
  
}

p {
  font-family: "Roboto", sans-serif;
  font-weight: normal !important;
}

a {
  font-family: "Roboto", sans-serif;
}


/* header*/


@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&display=swap');

:root {
    --circle-nav: oklch(59.1% 0.217 288.9);
    --circle-bg: oklch(85.71% 0.204 148.19);
    --font-color-back: oklch(85.29% 0.35 144);
    --font-color-front: oklch(35.41% 0.03 31.45);
    --bg-color-front: oklch(96.79% 0.022 67.56);
    --bg-color-nav: oklch(12.65% 0.052 144);
}













.menu-section.on {
  z-index: 10;
  width: 90%;
  height: 110%;
  display: block;
 background-color: black;
  
}


.menu-toggle {
  width: 50px;
  height: 40px;
  position: absolute;
  top: 40px;
  right: 59px;
  cursor: pointer;
}
.menu-toggle.on .one {
  -moz-transform: rotate(45deg) translate(7px, 7px);
  -ms-transform: rotate(45deg) translate(7px, 7px);
  -webkit-transform: rotate(45deg) translate(7px, 7px);
  transform: rotate(45deg) translate(7px, 7px);
}
.menu-toggle.on .two {
  opacity: 0;
}
.menu-toggle.on .three {
  -moz-transform: rotate(-45deg) translate(8px, -10px);
  -ms-transform: rotate(-45deg) translate(8px, -10px);
  -webkit-transform: rotate(-45deg) translate(8px, -10px);
  transform: rotate(-45deg) translate(8px, -10px);
}

.one,
.two,
.three {
  width: 100%;
  height: 5px;
  background:red;
  margin: 6px auto;
  backface-visibility: hidden;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  
}

nav ul {
  margin: 0;
  padding: 0;
  font-family: Open "Sans";
  list-style: none;
  margin: 0em auto;
  text-align: center;
  width: 100%;
}
nav ul.hidden {
  display: none;
}
nav ul a {
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  text-decoration: none;
  color: white;
  font-size: 1em;
  line-height: 7;
  width: 100%;
  display: block;
  height: 119px;
  border: 1px solid green;
}
nav ul a:hover {
  background-color: #268d5b;
}






.main-nav {
  vertical-align: middle;
  float: left;
  background-color: transparent;
  margin-top: 0;
  display: none ;
}

.header-content-left {
  position: relative;
  float: left;
  padding-left: 0;
  padding-top: 9px;
}



.header-stle-1 .info-wrap {
  position: relative;
  display: inline-block;
  margin-right: 7px;
}

.header-content-center {
  text-align: center;
  margin: auto;
  
}

.header-content-right {
  position: relative;
  padding-top: 10px;
  text-align: right;
  margin: -57px 0 0 auto;
}

/*-----------------------------------------------------------------------------------*/
/*  2a.  HEADER-STYLE-1
/*-----------------------------------------------------------------------------------*/

.header-style-1 {
  background-color: transparent;
  z-index: 101;
  position: absolute;
  right: 0;
  left: 0;
  padding-top: 30px;
  padding-bottom: 30px;
  -webkit-transition: all 0.5s ease 0s;
  -moz-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.header-style-1.header-alt {
  position: relative;
}

.header-expanded {
  position: relative;
  left: 0;
  right: 0;
  background-color: #0b0b0b;
  top: 0;
  -webkit-transition: revert;
  -moz-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.header-expanded .main-nav {
  width: 90%;
  margin: auto;
  float: none;
  border-radius: 0;
  background: #000000;
}

.header-style-1 ul.sm-clean>li+li {
  margin-left: 30px;
}

.header-style-1 ul.sm-clean>li {
  padding-top: 10px;
  padding-bottom: 0px;
  position: relative;
}

.header-style-1 .menu-link:hover {
  color: #eaeaea;
}

.header-style-1 a.menu-link:before {
  content: '';
  position: absolute;
  bottom: -10px;
  left: 0;
  width: 100%;
  height: 2px;
  background: #ff2c55;
  -webkit-transform: scale3d(0, 5, 1);
  transform: scale3d(0, 5, 1);
  -webkit-transform-origin: 0% 50%;
  transform-origin: 0% 50%;
  -webkit-transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  -webkit-transition-timing-function: cubic-bezier(1, 0.68, 0.16, 0.9);
  transition-timing-function: cubic-bezier(1, 0.68, 0.16, 0.9);
  
}

.header-style-1 a.menu-link.active:before {
  -webkit-transform: scale3d(1, 1, 1);
  transform: scale3d(1, 1, 1);
  

}
a.active{
  background-color: red;
}

.header-style-1 .menu-item:hover .menu-link:before {
  background-color: #ff2c55;
  -webkit-transform: scale3d(1, 1, 1);
  transform: scale3d(1, 1, 1);
  
}

.header-style-1 a.menu-link {
  font-family: 'Montserrat';
  text-align: inherit;
  word-spacing: 1px;
  font-size: 16px;
  letter-spacing: 0px;
  position: relative;
  font-weight: 600;
  font-style: normal;
  color: #ffffff;
  line-height: 110px;
 
  
}

.header-style-1 .search::before,
.header-style-1 .search::after {
  border-color: #ff2c55;
  
}

.header-style-1 .search__input {
  color: #ffffff;
}

.header-style-1 .search__input {
  font-family: inherit;
  font-size: 10vw;
  line-height: 1;
  display: inline-block;
  box-sizing: border-box;
  width: 75%;
  padding: 0;
  color: #ffffff;
  outline: none;
  border: none;
  border-bottom: 1px solid;
  height: 190px;
  background-color: transparent;
}

.header-style-1 .search {
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
}

.header-style-1 .search__info {
  color: #ff2c55;
}

.header-style-1 .search {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: rgba(0, 0, 0, 0.95);
}

/*-----------------------------------------------------------------------------------*/
/*  2b.  HEADER INFO
/*-----------------------------------------------------------------------------------*/
.head-item {
  margin-right: 20px;
}

.head-item:last-child {
  margin-right: 0;
}

.info-wrap {
  position: relative;
  display: inline-block;
  margin-right: 15px;
}

.info-wrap:last-child {
  margin-right: 0;
}


.head-info-icon {
  margin-right: 5px;
}


#header .info-wrap {
  padding-right: 177px;
}

#header .info-wrap i {
  vertical-align: middle;
  color: #ffffff;
  cursor: pointer;
  font-size: 30px;
}

#header .header-info-url a {
  color: #ffffff;
  padding: 10px 30px;
}

.logo {
  display: flex;
  float: left;
  margin-left: 10px;
  margin-right: 28px;
}

.header-style-1-wrap .main-menu ul.sm-clean>li+li {
  margin-left: 30px;
}

.header-style-1 .btn--search-close i {
  color: #ffffff;
  cursor: pointer;
}

.header-style-1 .search__input::placeholder {
  color: #fff;
}

/*-----------------------------------------------------------------------------------*/
/*  2c.  HEADER ALT
/*-----------------------------------------------------------------------------------*/
.header-alt .head-info-icon,
.header-alt.head-info-text {
  display: inline-block;
  color: #ffffff;
}

.header-alt .menu-item:hover .menu-link:before {
  background-color: #ff2c55;
  -webkit-transform: scale3d(1, 1, 1);
  transform: scale3d(1, 1, 1);
}

.header-alt a.menu-link:before {
  content: '';
  position: absolute;
  bottom: -10px;
  left: 0;
  width: 100%;
  height: 2px;
  background: #ff2c55;
  -webkit-transform: scale3d(0, 5, 1);
  transform: scale3d(0, 5, 1);
  -webkit-transform-origin: 0% 50%;
  transform-origin: 0% 50%;
  -webkit-transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  -webkit-transition-timing-function: cubic-bezier(1, 0.68, 0.16, 0.9);
  transition-timing-function: cubic-bezier(1, 0.68, 0.16, 0.9);
}

.header-alt a.menu-link {
  color: #ffffff;
}

.header-alt.header-expanded a.menu-link {
  color: #fff;
}

.header-alt .head-info-icon,
.header-alt .head-info-text {
  display: inline-block;
  color: #000000;
}

.header-style-1.header-expanded {
  background-color: #000000;
}

.header-alt.header-expanded {
  background-color: #0b0b0b;
}

.header-alt.header-expanded .main-nav {
  background-color: #0b0b0b;
}

.header-clear {
  
  align-items: center;
}

/*-----------------------------------------------------------------------------------*/
/*  3.  CONTENT
/*-----------------------------------------------------------------------------------*/

/*-----------------------------------------------------------------------------------*/
/*  3a.  PAGE TITLE
/*-----------------------------------------------------------------------------------*/

.page-title {
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom center;
  padding: 220px 0px 147px 0px;
  margin-top: -106px;
  background-image: url(img/background-overlay-title.png);
}
a.menu-link.active:before {
  -webkit-transform: scale3d(1, 1, 1);
  transform: scale3d(1, 1, 1);
}































.img-love{
  width:35px ;
}


.overlap-10 {
  background-image: url(Desktop\ -\ Background.png);
  background-repeat: no-repeat;
}

.male-hand-holding-a {
  margin-left: 0px;
}

.group-8 {
  margin-bottom: 300px;
  margin-left: 250px;
}

.banner-section {
  background: url(../images/banner-bg.png) no-repeat center top;
  background-size: cover;
  width: 100%;
  padding: 120px 0 0;
}

.banner-mobile-img {
  width: 418px;
  margin-bottom: -0px;
}

.banner-content h2 {
  font-size: 35px;
  font-weight: 700;
  text-align: right;
  padding-top: 15px;
  padding-bottom: 30px;
  line-height: 40px;
  font-family: "Racing Sans One", sans-serif;
}

.banner-logo {
  width: 100px;
}

.banner-content {
  padding-top: 115px;
  text-align: right;
}

.hword {
  font-size: 50px;
  text-align: right;
  letter-spacing: 3px;
  font-family: Arial, Helvetica, sans-serif;
}

.buttons {
  background-color: #ba1b2a;
  color: white;
  border-radius: 100px;
  width: 300px;
  height: 61px;
}

.btn-join {
  color: #000;
  border-radius: 45.62px;
  background: #ba1b2a;
  color: #fff;
  padding: 15px;

  font-family: Poppins;
  font-size: 18.088px;
  font-style: normal;
  font-weight: 600;
  line-height: 109.5%; /* 19.807px */
  letter-spacing: 0.362px;
  text-transform: uppercase;
}

.btn-join:hover {
  background-color: #ce2d3d;
  color: white;
}

/*section 2 start*/

.banner-section2 {
  width: 100%;
  padding-top: 90px;
  text-align: center;
  background-color: white;
}

.get-img {
  width: 600px;
}

.wordbanner {
  color: black;
  font-size: 42px;
  font-family: "Racing Sans One";
  font-weight: 400;
  line-height: 45.99px;
}

.wordbanner2 {
  color: #000;
  font-family: "Poppins";
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 109.5%;
}

.banner3 {
  background: #00c164;
  width: 100%;
  padding: 90px 0;
}

.banner3copy {
  background: #ba1b2a;
  width: 100%;
  padding: 90px 0;
}

.head33 {
  color: #fff;

  font-family: "Racing Sans One";
  font-size: 42px;
  font-style: normal;
  font-weight: 400;
  line-height: 109.5%; /* 45.99px */
  letter-spacing: 1.68px;
  text-transform: uppercase;
}
.btn-btn {
  border-radius: 40.62px;
  background: #ffec00;
  width: 238.223px;
  height: 58.502px;
  flex-shrink: 0;

  color: #000;

  font-family: "Poppins";
  font-size: 18.088px;
  font-style: normal;
  font-weight: 600;
  line-height: 109.5%; /* 19.807px */
  letter-spacing: 0.362px;
  text-transform: uppercase;
}

.head3 {
  color: #fff;
  text-align: center;
  font-family: "Racing Sans One";
  font-size: 42px;
  font-style: normal;
  font-weight: 400;
  line-height: 109.5%; /* 45.99px */
  text-transform: uppercase;
}

.subhead3 {
  color: #fff;
  text-align: center;
  font-family: "Poppins";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%; /* 25.2px */
}

.heading3 {
  line-height: 50px;
}

.imageboard3 {
  padding-left: 300px;
}

.craft-img {
  width: 600px;
  margin-top: 30px;
}

.desktop-img {
  display: block;
}
.mobile-img {
  display: none;
}

.img3 {
  position: relative;
  top: 0;
  left: 0;
}

.img1 {
  position: relative;
  width: 361px;
  bottom: 56px;
  left: 216px;
}

.img2 {
  position: absolute;
  top: 81px;
  left: 346px;
  width: 294px;
  height: 342px;
}

p {
  color: #353535;

  font-family: "Poppins";
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 28.9px;
}

.respo-img {
  display: none;
}

.imgf {
  width: 100%;
  height: auto;
  margin-bottom: 95px;
}

.imgff {
  display: none;
}
.head2 {
  color: #000;

  font-family: "Racing Sans One";
  font-size: 42px;
  font-style: normal;
  font-weight: 400;
  line-height: 109.5%; /* 45.99px */
  letter-spacing: 1.68px;
  text-transform: uppercase;
}
.subhead2 {
  color: #000;
  text-align: center;
  font-family: "Poppins";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%; /* 25.2px */
}

.car-container {
  position: relative;
  overflow: hidden;
  width: 300px; /* Adjust the width and height according to your image */
  height: 200px;
}

img {
  width: 100%;
  height: auto;
  transition: transform 0.3s ease-out;
}

.hover-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); /* Adjust the overlay color and opacity */
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.car-container:hover img {
  transform: scale(1.1); /* Adjust the scale factor for the hover effect */
}

.car-container:hover .hover-overlay {
  opacity: 1;
}

.frame {
  width: 100%;
  height: 644px;
  overflow: hidden;
}
.frame .group {
  position: relative;
  width: 1828px;
  height: 585px;
  top: 57px;
  left: -158px;
}
.gameimgmob {
  display: none;
}

.owl-item > div {
  cursor: pointer;
  margin: 6% 8%;
  transition: margin 0.4s ease;
}
.owl-item.center > div {
  cursor: auto;
  margin: 0;
}
.owl-item:not(.center) > div:hover {
  opacity: 0.75;
}

.footer {
  background: url(../images/footer.png) no-repeat;
  width: 100%;
  height: auto;
  background-size: cover;
  padding: 90px 0;
}

.footerhead {
  color: #000;

  text-align: center;
  font-family: Racing Sans One;
  font-size: 42px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.footerhead1 {
  color: #000;

  text-align: center;
  font-family: "Poppins";
  font-size: 17.149px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.mailin {
  width: 741.677px;
  height: 60.878px;
  border-radius: 100.089px;
  background: #fff;
  backdrop-filter: blur(5.004469394683838px);
}

.input {
  text-align: center;
}
input {
  width: 600px;
  height: 50px;
  border-radius: 100px;
}

.box {
  width: 600px;
  height: 61px;
  position: relative;
}
.box .rectangle {
  position: fixed;
  width: 742px;
  height: 61px;
  top: 0;
  left: 0;

  background-color: #ffffff;
  border-radius: 100.09px;
  backdrop-filter: blur(10.01px) brightness(100%);
  -webkit-backdrop-filter: blur(10.01px) brightness(100%);
}

.button-regular .explore {
  font-family: "Poppins-SemiBold", Helvetica;
  font-weight: 600;
  background: var(--Blue-1, #2f80ed);
  font-size: 17.1px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  border-radius: 100.038px;
  padding: 12px 35px;
  border: none;
  color: #fff;
}

.button-regular {
  position: absolute;
  top: 3px;
  right: 3px;
}

.footer-logo {
  width: 100px;
}

.headfoot {
  color: #000;
  font-family: "Poppins";
  font-size: 26px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: capitalize;
  margin-bottom: 25px;
}



a {
  color: white;

  font-family: "Poppins";
  font-size: 17.149px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: capitalize;
  text-decoration: none;
  
}
a:hover{
  color: red;
}





.link {
    color: #000000;
    font-family: "Poppins";
    font-size: 17.149px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: capitalize;
    text-decoration: none;
  }



.img-fluid1 {
  width: 130px;
}

.label .the-leading-NFT {
  width: 419px;
  height: 105px;
  top: 0;
  left: 0;
  font-family: "Poppins-Regular", Helvetica;
  font-weight: 400;
  color: rgba(0, 0, 0, 1);
  font-size: 17.1px;
  letter-spacing: 0;
  line-height: 35.3px;
}
.footlogo {
  width: 170px;
  height: 28px;
}

.the-leading-NFT {
  font-size: 16px !important;
  font-weight: 600 !important;
  margin-bottom: 25px;

}

.list-unstyled li a {
  font-size: 16px !important;
  font-weight: 600 !important;
}

.list-unstyled li {
  margin-bottom: 12px;
}

.mobimgg {
  display: none;
}



.box.rectangle.text-center input {
    border: none;
    padding-left: 40px;
    font-weight: 600;
    font-size: 13px;
    color: #000;
}

.footerhead h3  {
  font-size: 42px;
  margin-bottom: 0;
  padding-bottom: 0;
}

.footerhead  {
  margin-bottom: 50px;
}

.hr-white  {
  border-top: 2px solid #fff;
  margin-bottom: 50px;
  margin-top: 50px;
}

.social-icons li a img  {
  width: 30px;
}

.social-icons li  {
  display: inline-block;
  margin-right: 15px;
}

.icons{
  
  width: 34.3px;
  

}
.iconli{
  line-height: 36px;
}

.banner-co1{
  background-image: url(../images/docsback.png);
  width: 100%;
  height:auto;
  
}
.headlog{
  width: 75.39px;
  height: 35.39px;
  top: -8.86px;
  left: -13.51px;

}
  
.headlog1{
  width: 180px;
  height: 30px;
  top: 3.4px;
  left: 63.01px
  

}
.log{
  padding-left: 110px;
  padding-top: 100px;
  
}
.para{
  font-family: "Poppins";
      font-size: 20px;
      font-weight: 600;
      line-height: 34px;
      letter-spacing: 0em;
      text-align: left;
      padding-bottom: 50px;
      width: auto;


}
.section-doc2{
  background-color: white;
  width: 100%;
  height:auto;
}
.headingdoc{
  font-family: "Racing Sans One";
  font-size: 36px;
  font-weight: 400;
  line-height: 39px;
  letter-spacing: 0.04em;
  text-align:left;
  padding-left: 110px;
  padding-top: 100px;
  height: 39px;
  text-transform: uppercase;


}
.paradoc{
  font-family: "Poppins";
font-size: 18px;
font-weight: 500;
line-height: 34px;
letter-spacing: 0em;
text-align: left;
padding-left: 110px;
padding-top: 40px;


}
.appfeature{
  font-family: "Racing Sans One";
  font-size: 36px;
  font-weight: 400;
  line-height: 39px;
  letter-spacing: 0.04em;
  text-align:left;
  padding-left: 110px;
  padding-top: 100px;
  height: 39px;
  text-transform: uppercase;
  text-decoration: underline;


}
.li1{
  list-style:disc;
  font-family: "Poppins";
  font-size: 18px;
  font-weight: 500;
  line-height: 34px;
  letter-spacing: 0em;
  text-align: left;
  padding-left: 40px;
  padding-top: 40px;
  
}
.featurecontent{
  padding-left: 100px;
  padding: 80px;
}