*{
    margin: 0px auto;
  }
  
  body  {
    font-family:Arial, Helvetica, sans-serif;
  }
  
  .overlap-10{
    background-image:url(Desktop\ -\ Background.png);
    background-repeat: no-repeat;
  }  
  
  .male-hand-holding-a{
    margin-left: 0px;
  }
  
  .group-8{
    margin-bottom: 300px;
    margin-left: 250px;
  }
  
  .banner-section  {
    background: url(../images/banner-bg.png) no-repeat center top;
    background-size: cover;
    width: 100%;
    padding: 120px 0 0;
  }
  
  .banner-mobile-img {
    width: 418px;
    margin-bottom: -3px;
  }
  
  .banner-content h2  {
    font-size: 35px;
    font-weight: 700;
    text-align: right;
    padding-top: 15px;
    padding-bottom: 30px;
    line-height: 40px;
    font-family: 'Racing Sans One', sans-serif;
  }
  
  .banner-logo  {
    width: 100px;
  }
  
  .banner-content {
    padding-top: 115px;
    text-align: right;
  }
  
  .hword{
   font-size: 50px;
   text-align: right;
   letter-spacing: 3px;
   font-family: Arial, Helvetica, sans-serif;
  }
  
  .buttons{
    background-color: #ba1b2a; 
    color: white;
    border-radius: 100px;
    width: 300PX;
    height: 61px;
  }
  
  .btn-join  {
    color: #000;
    border-radius: 45.62px;
background: #BA1B2A;
color: #FFF;
padding: 15px;

font-family: Poppins;
font-size: 18.088px;
font-style: normal;
font-weight: 600;
line-height: 109.5%; /* 19.807px */
letter-spacing: 0.362px;
text-transform: uppercase;
  }
  
  .btn-join:hover  {
    background-color: #ce2d3d;
    color: white;
  } 
  
  /*section 2 start*/
  
  .banner-section2{
    width: 100%;
    padding: 90px 0;
    text-align: center;
  }
  
  .get-img  {
    width: 600px;
  }
  
  .wordbanner{
    color: black; 
    font-size: 42px;
    font-family: Racing Sans One; 
    font-weight: 400;
    line-height: 45.99px;
  }
  
  .wordbanner2{
    color: #000;
    font-family: 'Poppins';
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 109.5%;
  }
  
  .banner3{
    background: #00C164;
    width: 100%;
    padding: 90px 0;
  }

  .banner3copy{
    background: #BA1B2A;
    width: 100%;
    padding: 90px 0;
  }


.head33{
  color: #FFF;

font-family: Racing Sans One;
font-size: 42px;
font-style: normal;
font-weight: 400;
line-height: 109.5%; /* 45.99px */
letter-spacing: 1.68px;
text-transform: uppercase;
}
.btn-btn{
border-radius: 40.62px;
background: #FFEC00;
width: 238.223px;
height: 58.502px;
flex-shrink: 0;

color: #000;

font-family: Poppins;
font-size: 18.088px;
font-style: normal;
font-weight: 600;
line-height: 109.5%; /* 19.807px */
letter-spacing: 0.362px;
text-transform: uppercase;
}






  .head3{
  color: #FFF;
  font-family: Racing Sans One;
  font-size: 40.91px;
  font-style: italic;
  font-weight: 400;
  text-align: center;
  }
  
  .subhead3{
  color: #FFF;
  font-family: Poppins;
  font-size: 30.325px;
  font-style: normal;
  font-weight: 400;
  }
  
  .heading3{
    line-height: 50px;
  }
  
  .imageboard3{
    padding-left: 300px
    
  }
  
  .craft-img  {
    width: 600px;
    margin-top: 30px;
  }
  
  .desktop-img {
    display: block;
  }
  .mobile-img {
    display: none;
  }
  
  .img3{
    position: relative;
    top: 0;
    left: 0;
  }
  
  .img1{
    position: relative;
    width: 361px;
    bottom: 56px;
    left: 216px;
    
  }
  
  .img2{
    position: absolute;
    top: 81px;
    left: 346px;
    width: 294px;
    height: 342px;
  }
  
  p{
    color: #353535;
  
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height:  28.9px
  } 
  
  .respo-img{
    display: none;
  }
  
  
  .imgf{
    width: 799px;
    height: auto;
  }
  
  .imgff{
    display: none;   
  }
  .head2{
    color: #000;

    font-family: Racing Sans One;
    font-size: 42px;
    font-style: normal;
    font-weight: 400;
    line-height: 109.5%; /* 45.99px */
    letter-spacing: 1.68px;
    text-transform: uppercase;
  }
  .subhead2{
    color: #FFF;

text-align: center;
font-family: Poppins;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 140%; /* 25.2px */
  }
  
  









  .car-container {
    position: relative;
    overflow: hidden;
    width: 300px; /* Adjust the width and height according to your image */
    height: 200px;
  }
  
  img {
    width: 100%;
    height: auto;
    transition: transform 0.3s ease-out;
  }
  
  .hover-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Adjust the overlay color and opacity */
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
  }
  
  .car-container:hover img {
    transform: scale(1.1); /* Adjust the scale factor for the hover effect */
  }
  
  .car-container:hover .hover-overlay {
    opacity: 1;
  }

  .frame{
    width: 100%;
    height: 644px;
    overflow: hidden;
  }
  .frame  .group{
    position: relative;
    width: 1828px;
    height: 585px;
    top: 57px;
    left: -158px;


  }
  .gameimgmob{
    display: none;
  }



  .owl-item > div {
    cursor: pointer;
    margin: 6% 8%;
    transition: margin 0.4s ease;
    
  }
  .owl-item.center > div {
    cursor: auto;
    margin: 0;
  }
  .owl-item:not(.center) > div:hover {
    opacity: .75;
  }
  
  .footer{
    background: url(../images/footer.png);
    width: 100%;
    height: 660px;
  }

  .footerhead{
    color: #000;

    text-align: center;
    font-family: Racing Sans One;
    font-size: 42px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

  }

  .footerhead1{
    color: #000;

    text-align: center;
    font-family: Poppins;
    font-size: 17.149px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
   
  }
  .mailin{
    width: 741.677px;
    height: 60.878px;
    border-radius: 100.089px;
    background: #FFF;
    backdrop-filter: blur(5.004469394683838px);
    
  }

 
 .input{
  
  text-align: center;
  
  
 }
 input{
  width: 600px;
  height: 50px;
  border-radius: 100px;
 }

 .box {
  width: 742px;
  height: 61px;
  margin-bottom: 169px;
 }
 .box .rectangle {
  position: fixed;
  width: 742px;
  height: 61px;
  top: 0;
  left:0;
  
  background-color: #ffffff;
  border-radius: 100.09px;
  backdrop-filter: blur(10.01px) brightness(100%);
  -webkit-backdrop-filter: blur(10.01px) brightness(100%);
 }

 
.button-regular {
 display: flex;
 width: 128.61px;
 height: 54.02px;
 align-items: center;
 justify-content: center;
 gap: 8.97px;
 padding: 13.45px 49.33px;
 position: relative;
 background-color: var(--blue-1);
 border-radius: 100.04px;
}
.button-regular .explore {
 position: relative;
 width: fit-content;
 
 margin-left: 336px;
 margin-bottom: 103px;
 font-family: "Poppins-SemiBold", Helvetica;
 font-weight: 600;
 background: var(--Blue-1, #2F80ED);
 font-size: 17.1px;
 text-align: center;
 letter-spacing: 0;
 line-height: normal;
 border-radius: 100.038px;
  background: var(--Blue-1, #2F80ED);
  display: flex;
  width: 113.615px;
  height: 41px;
  padding: 0px 29px;
  justify-content: center;
  align-items: center;
  gap: 8.97px;
flex-shrink: 0;
}




  .footer-logo{
    width: 100px;
    
  }



.headfoot{
  color: #000;
text-align: center;
font-family: Poppins;
font-size: 27.438px;
font-style: normal;
font-weight: 600;
line-height: normal;
text-transform: capitalize;
}

a{
  color: #000;

font-family: Poppins;
font-size: 17.149px;
font-style: normal;
font-weight: 400;
line-height: normal;
text-transform: capitalize;
text-decoration: none;
padding-left: 145px;
}


.img-fluid1{
  width: 130px;
}
 
   .label .the-leading-NFT {
   
    width: 419px;
    height: 105px;
    top: 0;
    left: 0;
    font-family: "Poppins-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 17.1px;
    letter-spacing: 0;
    line-height: 35.3px;
   }
   .footlogo{
    width: 170px;
    height: 28px;
   
   }

 
  
  
  
  /*
  .box2{
  width: 246.884px;
  height: 103.855px;
  border-radius: 40.325px 40.325px 40.325px 0px;
  opacity: 0.8;
  background: #FFBEBE;
  
  }
  
  .box3{
    width: 232.308px;
  height: 115.699px;
  flex-shrink: 0;
  border-radius: 40.325px 0px 53.766px 40.325px;
  opacity: 0.8;
  background: #FFF9C9;
  
  
  }
  
  .box4{
    width: 245.308px;
  height: 105.516px;
  flex-shrink: 0;
  border-radius: 40.658px 40.658px 40.658px 0px;
  opacity: 0.8;
  background: #DADADA;
  
  
  }
  
  .img1{
  width: 20.042px;
  height: 21.864px;
  flex-shrink: 0;
  border-radius: 3.222px;
  background: lightgray 50% / cover no-repeat;
  box-shadow: 0px 3.644px 3.644px 0px rgba(0, 0, 0, 0.25);
  position: relative;
  }
  
  
  
  .textname1{
    margin-left: 30px;
    color: #000;
  
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  }
  
  .textwrapper1{
    color: #000;
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-left: 35px;
  }
  
  .textwrapper2{
    color: #000;
  font-family: Poppins;
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-left: 33px;
  }
  
  
  
  .box1{
   
    position: relative;
    background: #F8CBFF;
    border-radius: 40.325px 40.325px 0px 40.325px;
    width: 262.782px;
    height: 110.221px;
    
    
    
  }
  
  .textname2{
    color: #000;
  font-family: Poppins;
  font-size: 19px;
  font-style: normal;
  font-weight: 400;
  line-height:20px;
  width: 43px;
  height: 20px;
  margin-left: 70px;
  
  }
  
  .textname3{
    color: #000;
    font-family: Poppins;
    font-size: 19px;
    font-style: normal;
    font-weight: 400;
    line-height:20px;
    width: 43px;
    height: 20px;
    margin-left: 70px;
  
  }
  .textname4{
    color: #000;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height:20px;
    width: 43px;
    height: 20px;
    margin-left: 70px;
  
  }
  
  */
  
  
  
  